# SO
.DS_Store
Thumbs.db

# Editores/IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tooling (por si algún día usas build)
node_modules/
dist/
build/
.cache/
.tmp/

# Entornos
.env
.env.*

# Vercel
.vercel/
